.hidden{
    display:none;
}
.show{
    display: inline;
}
.details{
    width: 380px;
}
select{
    width: 150px;
}
span{
    margin-left: 70px;
}
pre{
    font-size: 1.2em;
}
h1{
    border-bottom-style: inset;
}